* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header, nav {
   display: grid;
   grid-template-columns: 120px 1fr 1fr;
   align-items: center;
}

header {
     padding: 20px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 60px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    margin: 10px;
    padding: 20px;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    text-align: center;
}

article {
    position: absolute;
    top: 400px;
    width: 97%;
    opacity: 0.9;
    padding: 16px;
    color: #fff;
    background-color: var(--accent1-color);
}


nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

footer {
    margin-top: 40px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


section p {
    text-align: center;
}


.gallery {
   display: flex;
   justify-content: center;
   gap: 40px;
   padding: 20px 0;
}

.gallery .item {
   text-align: center;
}

.icon {
   padding: 20px;
   display: flex;
   width: 32px;
   margin: 0 10px;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    gap: 10px;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}